*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    padding-top: 20px;
    padding-right: 100px;
    padding-left: 100px;
}
.conteudo{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.caixatexto{
    width: 600px;
}
h1{
    color: #333;
    font-size: 60px;
    font-weight: bold;
}
span{
    color: #017143;
    font-size: 70px;
    font-weight: 900;
}
p{
    font-size: 16px;
}
button{
    background: #017143;
    color: #ffff;
    border-radius: 40px;
    border: none;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.5s;
}
button:hover{
    background: #00502f; 
}
.caixaimagem{
    width: 600px;
    display: flex;
    justify-content: flex-end;
    margin-top: 250px;
}
.menu{
    display: flex;
    justify-content: center;
}
.starbucks{
    width: 600px;
}
.botaomenu{
    width: 60px;
    cursor: pointer;
    transition: 0.5s;
}
.botaomenu:hover{
    transform: translateY(-30px) ;
}